__pycache__/
*.py[cod]
*$py.class
*.egg-info/
*.egg

.venv/
venv/
env/

build/
dist/
*.whl

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

.DS_Store
.idea/
.vscode/
!.vscode/settings.json.example

logs/
target/
dbt_packages/
.user.yml
profiles.yml
!examples/**/profiles.yml
!tests/**/profiles.yml

*.duckdb
*.duckdb.wal

# mkdocs
/site/
