---
---

<footer class="footer">
  <div class="container">
    <div class="footer-inner">
      <div>
        <a href="https://burla.dev">Burla</a> &middot;
        <a href="https://pypi.org/project/dbt-burla/">PyPI</a> &middot;
        <a href="https://github.com/Burla-Cloud/dbt-burla">GitHub</a> &middot;
        <a href="https://github.com/Burla-Cloud/dbt-burla/blob/main/LICENSE">License</a>
      </div>
      <div>
        Shipped by <a href="https://burla.dev">Burla</a> &middot;
        <a href="https://cal.com/jakez/burla">Schedule a call</a>
      </div>
    </div>
  </div>
</footer>
